asgiref==3.4.1
defusedxml==0.7.1
diff-match-patch==20200713
Django==3.2.25
django-import-export==2.7.1
django-simpleui==2025.1.13
django-widget-tweaks==1.4.11
et-xmlfile==1.1.0
MarkupPy==1.18
mysql-connector==2.2.9
mysql-connector-python==8.0.20
numpy==1.19.5
odfpy==1.4.1
openpyxl==3.1.3
pandas==1.1.5
Pillow==8.4.0
protobuf==3.19.6
python-dateutil==2.9.0.post0
pytz==2025.2
PyYAML==6.0.1
six==1.17.0
sqlparse==0.4.4
tablib==3.1.0
typing_extensions==4.1.1
xlrd==2.0.1
xlwt==1.3.0
redis