{% extends "core/base.html" %}

{% block title %}Equipment-Details{% endblock %}

{% block content %}
<div class="max-w-2xl mx-auto bg-white p-6 rouded-lg shadow-md">
    <h2 class="text-2xl font-semibold text-teal-600 mb-4"> 
        Add Equipment Details
    </h2>
    <form method="POST" action="{% url 'add_equipment_detail' %}" class="apce-y-4">
        {% csrf_token %}
        <!-- Name -->
            <label for="Equipment_name" class="block font-medium">Name</label>
            <input type="text" id="division_name" name="division_name" class="w-full p-2 border rounded" required>

            <!-- Category -->
            <label for="category" class="block font-medium">Category</label>
            <input type="text" id="drm_name" name="drm_name" class="w-full p-2 border rounded" required>

            <!-- Purchase Date -->
            <label for="Purchase_Date" class="block font-medium">Purchase Date</label>
            <input type="text" id="zone_name" name="zone_name" class="w-full p-2 border rounded" required>

            <!-- Status -->
            <label for="Status" class="block font-medium">Status</label>
            <input type="text" id="zone_code" name="zone_code" class="w-full p-2 border rounded" required>
    </form>
</div>