<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <script src="https://cdn.tailwindcss.com"></script>
    <script>
        tailwind.config = {
            theme: {
                extend: {},
            }
        }
    </script>
    <title>Carbon Footprints | {% block title %}{% endblock %}</title>
</head>
<body class="bg-gradient-to-br from-gray-100 to-gray-300 min-h-screen flex flex-col">

    <!-- Navbar -->
    <nav class="sticky top-0 bg-white shadow-md z-50 py-6 px-6 flex justify-between items-center">
        <a href="/" class="text-2xl font-bold text-teal-600">Sustainability Project</a>
        <div class="space-x-6 flex items-center">
            <a href="#" class="text-lg font-semibold text-teal-600 hover:text-teal-700">Browse</a>
            {% if request.user.is_authenticated %}
                <p class="text-sm text-gray-600">Welcome, {{ request.user.username }}</p>
                <a href="#" class="px-6 py-3 text-lg font-semibold bg-teal-500 text-white rounded-xl hover:bg-teal-700">Inbox</a>
                <a href="#" class="px-6 py-3 text-lg font-semibold bg-gray-500 text-white rounded-xl hover:bg-gray-700">Dashboard</a>
                <ul>
                    <li><a href="{% url 'core:cards' %}" class="px-6 py-3 text-lg font-semibold bg-indigo-500 text-white rounded-xl hover:bg-indigo-700">View Records</a></li>
                </ul>
            {% else %}
                <a href="{% url 'core:signup' %}" class="px-6 py-3 text-lg font-semibold bg-teal-500 text-white rounded-xl hover:bg-teal-700">Sign up</a>
                <a href="{% url 'core:login' %}" class="px-6 py-3 text-lg font-semibold bg-gray-500 text-white rounded-xl hover:bg-gray-700">Log in</a>
            {% endif %}
        </div>
    </nav>
    
    <!-- Main Content -->
    <div class="max-w-6xl mx-auto px-6 py-6 flex flex-col space-y-6">
        {% block content %}
         {% endblock %}
    </div>
    
    <!-- Footer -->
    <footer class="mt-6 p-6 text-center bg-teal-500 text-white">
        <ul>
            <li><a href="{% url 'core:contact' %}" class="hover:text-gray-300">Contact</a></li>
        </ul>
        <p>&copy; 2025 Puddle. All Rights Reserved.</p>
    </footer>
</body>
</html>
